[Desktop Entry]
Version=1.0
Name=zenzo Core
Comment=zenzo P2P Cryptocurrency
Exec=zenzo-qt %u
Terminal=false
Type=Application
Icon=zenzo128
MimeType=x-scheme-handler/zenzo;
Categories=Office;Finance;
StartupWMClass=zenzo-qt
Name[en_US]=zenzo-qt.desktop
